<h1>Provider Signup</h1><br>
<form action="/providers" method="post">
<p>Name: <input type="text" name="name" id="name"></p>
<p>Email: <input type="email" name="email" id="email"></p>
<p>Password: <input type="password" name="password" id="password"></p>
<p>Phone Number: <input type="text" name="phone_number" id="phone_number"></p>
<p>Location: <input type="text" name="location" id="location"></p>
<input type="submit" value="Sign Up">
</form>