<div class="container">
    <div class="row center top-spaced">
        <div class="card grey lighten-3 client-card">
        <header class="container client-card-name">
            <h1><%=@provider.business_name%></h1>
        </header>
            <h3>Owner: <%=@provider.name%></h3>
            <h3>Phone number: <%=@provider.phone_number%></h3>
            <h3>Address: <%=@provider.location%></h3>
        </div>
    </div>
</div>