
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@350&display=swap');
body{
  font-family: 'Josefin Sans', sans-serif;
  background-color: #FDFDF6
}

.btn-large{
  background-color : #4A6163; 
  display: inline-block;
}

p{
  font-size: medium;
}

.landing{
  margin-top: 150px;
}

.registration-form{
  padding: 30px;
  background-color: white;;
}

.top-spaced{
  margin-top: 50px;
}
.top-spaced-bar{
  margin-top: 100px;
}

.appointment-card{
  display: inline-block;
  padding-top: 20px;
}

.client-card{
  padding-top: 30px;
  padding-bottom: 30px;
}
.client-card-name{
  border: 1px ridge #4A6163;
}
.appointment-card-name{
  border: 1px ridge #4A6163;
  padding-top: 7px;
}
.btn-small{
  margin-bottom: 10px;
  background-color : #4A6163; 
  display: inline-block;
}

.service-card{
  padding-top: 30px;
  padding-bottom: 30px;
}

.edit-form{
  padding: 30px;
  background-color: white;
  margin-bottom: 100px;
}
.appointment-form{
  padding: 30px;
  background-color: white;
  margin-bottom: 100px;
}

.btn{
  background-color : #4A6163; 
}

.card-btn{
  margin-top: 5px;
  margin-bottom: 5px;
}
h5.total{
  font-weight: 550;
}




