<div class="container">
    <div class="row center top-spaced">
        <div class="card grey lighten-3 client-card">
        <header class="container client-card-name">
            <h1><%=@client.name%></h1>
        </header>
            <h3>Email: <%=@client.email%></h3>
            <h3>Phone number: <%=@client.phone_number%></h3>
            <h3>Location: <%=@client.location%></h3>
        </div>
    </div>
</div>