<div class="container">
    <div class="row center top-spaced">
        <h1><%=@client.name%></h1>
        <h3>Email: <%=@client.email%></h3>
        <h3>Phone number: <%=@client.phone_number%></h3>
        <h3>Location: <%=@client.location%></h3>
    </div>
</div>