<section class="landing">
    <div class="container">
    <div class="row center">
        <img src="/images/blue_logo.png" style="height:45px" alt="">
    </div>  
    <% if flash[:error] %>
                <div class="row center">
                    <p class="red-text"><%=flash[:error]%></p>
                </div> 
    <% end %>
        <div class="row">
            <div class="col 12 center-align">
                <h2>Welcome</h2>
                <p class="flow-text">Rendezvous is a platform designed for service providers to connect
                with their clients and allow them to book appointments. Get started today!</p><br><br>
            </div>
        </div>
        <div class="container">
            <div class="row center">
                <a class="waves-effect waves-light btn-large" href="/clients/signup"><i class="material-icons right">event_available</i>Sign up as a Client</a><br>
            </div>
            <div class="row center">
                <a class="waves-effect waves-light btn-large" href="/providers/signup"><i class="material-icons right">event_available</i>Sign up as a Provider</a><br>
            </div>
            <div class="row center">
                <p>Already have an account?</p>
                <a class="waves-effect waves-light btn-large" href="/login"><i class="material-icons right">person</i>Login</a>    
            </div>
        </div>
        </div>
        
    </div>

</section>
