<!DOCTYPE html>
<head>
 <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Rendezvous</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/test.css" />
   
</head>
<body>
<%if logged_in?%>
<header class="top-nav">
  <div class="navbar-fixed"> 
      <nav>
        <div class="nav-wrapper" style="background-color:#EEE2DC">
        
          <a href="#" class="brand-logo"> <img src="/images/brand_logo.png" style="height:45px; margin-left:50px; margin-top:8px;"> </a>
           <ul id="nav-mobile" class="right hide-on-med-and-down" style="margin-right: 50px;">
            <li><a style="color:#AC3B61" href="/providers">Search Providers</a></li>
            <li><a style="color:#AC3B61"href="/<%=session[:type]%>s/<%=current_user.id%>">My Profile</a></li>
            <li><a style="color:#AC3B61"href="/logout">Log Out</a></li>
          </ul>
        </div>
      </nav>
  </div>
</header>
<%end%>

<div>
<%= yield %>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>
