<h1>Login</h1>

<form action="/login" method="post">
<p>Email: <input type="email" name="email" id="email"></p>
<p>Password: <input type="password" name="password" id="password"></p>
<input type="submit" value="Log In">
</form>
<p>Don't have an Account?</p>
<a href="/client/signup">Sign Up as a Client</a>
<a href="/provider/signup">Sign Up as a Provider</a>
